<h1>Welcome to the dashboard!</h1>

<br />

<p>
  The dashboard should show:
  <ol>
    <li>Calendar view of upcoming 4 weeks</li>
    <li>Upcoming 5 bookings</li>
    <li>Unconfirmed bookings</li>
    <li>Latest comments</li>
    <li></li>
  </ol>
</p>
<%= raw(event_calendar) %>
<br />
Quicklinks:<br />
You can create a <%= link_to "new booking", {:controller => 'bookings', :action => 'new'} %> 
or a <%= link_to "new tenant", {:controller => 'tenants', :action => 'new'} %>.<br />
  