<div class='comment'>
  <p>
    <strong><%= comment.user.name %></strong> on  <%= comment.created_at.to_s(:long) %>

    <% if comment.owned_by? current_user %>
    <span class='actions'>
      <%= link_to '(delete?)', 
        [@tenant, comment],
        :confirm => 'Are you sure?', 
        :method => :delete %> 
    </span>
    <% end %>

  </p>
  <p>
    <%= comment.body %>
  </p>
</div>