<%= form_for([@tenant, @tenant.comments.new]) do |form| %>

  <fieldset>
    <legend>Leave a comment</legend>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  </fieldset>
  <fieldset class="action">
    <%= form.submit 'Add' %>
  </fieldset>
<% end %>