/**
 * Book It
 * Based on html5boilerplate
 **/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #D9D055; color: #fff; text-shadow: none; }
::selection { background: #D9D055; color: #fff; text-shadow: none; }

a { color: #607890; }
a:visited { color: #607890; }
a:hover { color: #607890; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }


form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt 
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */





/* Common stuff 
 ****************************************************************************/
 
  body{
    font-family:"Helvetica Neue", Arial, Verdana, sans-serif;
    font-size:14px;
       background-color:#f2f2f2;
  }
  table{
    border:1px solid #ccc;
    width:100%;
    border-collapse:collapse;
  }
    table td,
    table th{
      border:1px solid #ccc;
      padding:0.2em 0.4em;
    }
    table th{
      background-color:#e2e2e2;
      text-align:left;
    }

  p.notice, p.alert{
    border:2px solid #dfde9c;
    border-left:0;
    border-right:0;
    padding:5px 10px;
    margin:2px 5px;
    background-color:#ffffcc;
  }
  p.alert{
    border-color:#df9c9c;
    background-color:#ffcccc;
  }
  a.delete, a.cancel{
    color:#cc0000;
  }
  a.delete:hover, a.cancel:hover{
    background-color:#cc0000;
    color:#fff;
  }

/* Layout
 ****************************************************************************/
 #container{

 }
  header{
    background-color:#9B9E8E;
    padding:10px 0 0 0;
  }
  header h1{
    font-family: 'Lucida Grande', arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    word-spacing: 0em;
    line-height: 1.2;
    margin-left:20px;
    padding-right:20px;
    display:inline;
    color:#fff;
  }
  header em{
    font-style:italic;
    font-size:14px;
    display:inline;
  }


  nav#primary{
    overflow:hidden;
    margin-top:5px;
    padding-left:15px;
  }
    nav#primary li{
      display:inline;
      float:left;
      margin-right:5px;
    }
    nav#primary a{
      padding:6px 8px;
      display:block;
      float:left;
      border:1px solid #;
      background-color:#504840;
      color:#D9D055;
      color:#333;
      color:#eee;
      font-size:14px;
      text-decoration:none;
      font-weight:bold;
    }
    nav#primary a:hover{
      background-color: rgba(139,140,88, 0.8)
    }
    nav#primary a.active{
      background-color:#f2f2f2;
    }
  
  nav#userinfo{
    text-align:right;
    position:absolute;
    top:5px;
    width:95%;
  }
  
  
  #main{
    padding:10px;
    overflow:hidden;
    min-width:800px;
  }  
  article{
    background-color:#fff;
    border:1px solid #e5e5e5;
    padding:10px;
    -webkit-box-shadow:5px 5px 5px rgba(155,155,155,0.6);
    -moz-box-shadow:5px 5px 5px rgba(155,155,155,0.6);
    box-shadow: 5px 5px 5px rgba(155,155,155,0.6);
    overflow:hidden;
    width:75%;
    min-width:740px;
    float:left;
    margin:10px 5px;
  }  
    article h1{
    font-family: 'Lucida Grande', arial, sans-serif;
      font-size: 18px;
      font-weight:400;
      background-color:#EDF3FE;
      padding:6px 10px;
    }
    article h1 .headactions{
      font-size:11px;
      float:right;
      padding:4px;
    }
      article h1 .headactions a{
        color:#cc0000;    
      }

  aside{
    float:right;
    width:20%;
  }

    
  footer{
    padding:3px;
  }
  

/* Page specifics */


/* Tenant styling */  
  #tenant{
    padding:5px;
    padding: 10px;
  }
    #tenant_title{
      float:left;
      width:40%;
      min-width:350px;
    }
      #tenant_title img{
        width:100px;
        height:100px;
        border:1px solid #e2e2e2;
        float:left;
        margin-right:5px;
      }
      #tenant_title h2{
        font-size:22px;
        float:left;
        padding:4px;
        margin:0;
      }
      #tenant_title p{
        float:left;
        padding:4px;      
      }
    
    #tenant_data{
      float:right;
      text-align:right;
      margin-left:10px;
      width:40%;
      
    }
  #tenant p b{
    display:block;
    width:100px;
    float:left;
  }
  #tenant_data figure{
    clear:both;
  }
  #tenant_map{
    width:190px;
    height:90px;
    display:block;
    float:right;
    clear:both;
  }
  
  #tenant_bookings{
    padding:10px 0;
/*    float:right;
    width:40%;*/
    clear:both;
  }

  #comments{
    clear:both;
  }
    .comment{
      border-top:1px solid #ccc;
      padding:10px 0;
      overflow:hidden;
    }
    .comment .actions{
  
    }
    .comment .avatar{
      width:55px;
      float:left;
      height:55px;
      border:1px solid #ccc;
      margin-right:15px;
    }
    .comment .comment_info{
      font-size:12px;
    }
    .comment .comment_body{
      padding:5px 0;
    }
    #new_comment{
      padding:10px 0;
      border-top:1px solid #ccc;
    }
      #new_comment legend{
        display:block;
      }
      #new_comment .avatar{
        float:left;
        width:55px;
        height:55px;
        border:1px solid #ccc;
        margin-top:10px;

      }
      #new_comment .field{
        float:left;
        width:80%;
        margin-left:10px;        
        clear:none;
        margin-top:0px;
        border:0;
      }
      #new_comment .action{
        padding-left:60px;
      }      
  
/** Bookings styling */
#booking_start_date,
#booking_end_date{
  width:90px;
}
#pick_start_date,
#pick_end_date{
  margin-left:150px;
}

/* Settings styling */

  section.settings{
    padding:10px;
  }

/* Login layout
 ****************************************************************************/  
  

  #page-login #content{
    width:280px;
    overflow:hidden;
    margin:50px auto 0 auto;
    padding:10px;
    float:none;
    border:4px solid #ccc;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    background-color:#fff;
    text-align:center;
  }
  #page-login #user_login input,
  #page-login #user_password input
  {
    width: 200px;
    font-size: 18px;
    padding: 3px;
    font-family: helvetica, arial, sans-serif;
    border:1px solid #c3c3c3;
    border-bottom:1px solid #ddd;
    border-top:1px solid #7c7c7c;    
    -webkit-box-shadow:0 0 2px #ccc inset;
    -moz-box-shadow:0 0 2px #ccc inset;
    box-shadow:0 0 2px #ccc inset;

  }
  #page-login #user_login_fields{
    width:220px;
    margin:0 30px;
  }
  #page-login form div.field{ border-bottom:0;}
  #page-login .actions{
    padding-left:120px;
  }  
  #page-login form label{
    width:110px;
  }
  #page-login h1{
    margin:0 0 0 5px;
  }
  #page-login footer{
    text-align:center;
    font-size:11px;
    text-shadow:1px 1px 1px #e2e2e2;
  }  
  
/* Form style
 ****************************************************************************/  
 form{
/*    margin:10px;*/
 }
   form fieldset{
     background-color:#fff;
      margin:10px 0;
   }
   fieldset.actions{
     padding-left:160px;
   }
    fieldset.actions .cancel{
      float:left;
      display:block;
      margin:8px 2px;
      padding:2px;
    }
    fieldset.actions span{
      float:left;
      display:block;
      margin:10px 2px;
    }
   form legend{
     background-color:#fff;
     font-weight:bold;
      
   }
   form label{
      font-weight:bold;
      display:block;
      padding:0.5em;
      font-size:0.9em;
      color:#333;
      width:150px;
      float:left;
   }
   form input, form textarea{
      float:left;
      padding:0.3em 0.5em;
      padding: 3px;
      font-family: helvetica, arial, sans-serif;
      border:1px solid #c3c3c3;
      border-bottom:1px solid #ddd;
      border-top:1px solid #7c7c7c;    
      -webkit-box-shadow:0 0 2px #ccc inset;
      -moz-box-shadow:0 0 2px #ccc inset;
      box-shadow:0 0 2px #ccc inset;
   }
   form textarea{
     height:5em;
   }
   
   form select{
      float:left;
   }
   
   form span.radio_button{
      border:1px solid #eee;
      display:block;
      float:left;
      margin:2px;
   }
      form span.radio_button:hover{
         background-color:#eee;
         color:#000;
      }

   form span.radio_button label{ 
      float:left;
      cursor:pointer;
      width:auto;
      font-size:0.8em;
   }
   form span.radio_button input{
      margin:5px;
   }
   
   /* placeholder text color */
   input.placeholder { color: #a9a9a9 !important; }
   
   /* form elements are wrapped by div */
   form div.field{
      clear:both;
      display:block;
      float:left;
      width:99%;
/*      overflow:hidden;*/
      border-bottom:1px solid #eee;
      padding:9px 0 9px 0;
      margin:0;
   }

  .field_with_errors {
    float:left;
    
  }
  
  
  /* Cool button style, kindly lend from github.com/michieldegraaf */
  button,
  a.button,
  input[type="submit"]{
    display:block;
    float:left;
    padding:4px 12px 5px 12px;
    margin-top:10px;
    margin:5px;
    color:#999;

    font-weight:bold;
    text-shadow:0 1px #fff;
    text-decoration:none;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    -o-border-radius:18px;
    border-radius:18px;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -0-transition:all 0.2s;
    transition:all 0.2s;
    border:1px solid #d5d5d5;
    border-bottom-color:#ddd;
    background:#e8e8e8;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(.25, #f4f4f4),color-stop(1, #e5e5e5));
    background:-moz-linear-gradient(center top,#f4f4f4 25%,#e5e5e5 100%);
    -webkit-box-shadow:inset 0 1px 0 hsla(0,100%,100%,.5),inset 0 0 2px hsla(0,100%,100%,.1),0 1px 0 hsla(0, 100%, 100%, .7);
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5),inset 0 0 2px hsla(0,100%,100%,.1),0 1px 0 hsla(0, 100%, 100%, .7);
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5),inset 0 0 2px hsla(0,100%,100%,.1),0 1px 0 hsla(0, 100%, 100%, .7);
  }
    button:hover,
    a.button:hover,
    input[type="submit"]:hover{
      color:#888;
      background:-webkit-gradient(linear,left top,left bottom,color-stop(.25, #fff),color-stop(1, #eee));
      background:-moz-linear-gradient(center top,#fff 25%,#eee 100%);
    }
    button:active,
    a.button:active,
    input[type="submit"]:active{
      box-shadow:inset 0 1px 1px #ddd;
      text-shadow:0 -1px #fff;
      background:-webkit-gradient(linear,left top,left bottom,color-stop(.25, #eee),color-stop(1, #fff));
      background:-moz-linear-gradient(center top,#eee 25%,#fff 100%);
    }



/* Scaffold styling - should be removed eventually
 ****************************************************************************/

  div.field, div.actions {
    margin-bottom: 10px;
  }

  #notice {
    color: green;
  }

  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  #error_explanation ul li {
    font-size: 12px;
    list-style: square;
  }


/* Datepicker jQuery CSS
 ****************************************************************************/

  table.jCalendar {
  	border: 1px solid #000;
  	background: #aaa;
      border-collapse: separate;
      border-spacing: 2px;
  }
  table.jCalendar th {
  	background: #333;
  	color: #fff;
  	font-weight: bold;
  	padding: 3px 5px;
  }

  table.jCalendar td {
  	background: #ccc;
  	color: #000;
  	padding: 3px 5px;
  	text-align: center;
  }
  table.jCalendar td.other-month {
  	background: #ddd;
  	color: #aaa;
  }
  table.jCalendar td.today {
  	background: #666;
  	color: #fff;
  }
  table.jCalendar td.selected {
  	background: #f66;
  	color: #fff;
  }
  table.jCalendar td.selected.dp-hover {
  	background: #f33;
  	color: #fff;
  }
  table.jCalendar td.dp-hover,
  table.jCalendar tr.activeWeekHover td {
  	background: #fff;
  	color: #000;
  }
  table.jCalendar tr.selectedWeek td {
  	background: #f66;
  	color: #fff;
  }
  table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
  	background: #bbb;
  	color: #888;
  }
  table.jCalendar td.unselectable,
  table.jCalendar td.unselectable:hover,
  table.jCalendar td.unselectable.dp-hover {
  	background: #bbb;
  	color: #888;
  }

  /* For the popup */

  /* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

  div.dp-popup {
  	position: relative;
  	background: #ccc;
  	font-size: 10px;
  	font-family: arial, sans-serif;
  	padding: 2px;
  	width: 200px;
  	line-height: 1.2em;
  }
  div#dp-popup {
  	position: absolute;
  	z-index: 199;
  }
  div.dp-popup h2 {
  	font-size: 12px;
  	text-align: center;
  	margin: 2px 0;
  	padding: 0;
  }
  a#dp-close {
  	font-size: 11px;
  	padding: 4px 0;
  	text-align: center;
  	display: block;
  }
  a#dp-close:hover {
  	text-decoration: underline;
  }
  div.dp-popup a {
  	color: #000;
  	text-decoration: none;
  	padding: 3px 2px 0;
  }
  div.dp-popup div.dp-nav-prev {
  	position: absolute;
  	top: 2px;
  	left: 4px;
  	width: 100px;
  }
  div.dp-popup div.dp-nav-prev a {
  	float: left;
  }
  /* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
  div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
  	cursor: pointer;
  }
  div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
  	cursor: default;
  }
  div.dp-popup div.dp-nav-next {
  	position: absolute;
  	top: 2px;
  	right: 4px;
  	width: 100px;
  }
  div.dp-popup div.dp-nav-next a {
  	float: right;
  }
  div.dp-popup a.disabled {
  	cursor: default;
  	color: #aaa;
  }
  div.dp-popup td {
  	cursor: pointer;
  }
  div.dp-popup td.disabled {
  	cursor: default;
  }

/* Accessibility and misc
 ****************************************************************************/
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}